@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?w9qnz1');
    src:  url('fonts/icomoon.eot?w9qnz1#iefix') format('embedded-opentype'),
          url('fonts/icomoon.ttf?w9qnz1') format('truetype'),
          url('fonts/icomoon.woff?w9qnz1') format('woff'),
          url('fonts/icomoon.svg?w9qnz1#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    height: 100%;
    font-family: sans-serif;
}

#info, #file {
    padding: 1em;
    width: 49%;
    width: calc(50% - 2px);
    box-sizing: border-box;
    min-height: 100%;
    min-height: calc(100% - 5px);
    margin: 0;
    position: fixed;
}

#info {
    overflow-y: scroll;
    height: 100%;
}

#file {
    right: 0;
    overflow-y: scroll;
    height: 100%;
}

h1 {
    margin: 0.1em 0;
}

ul {
    list-style: none;
    margin-left: 1em;
    padding-left: 0;
    font-size: 1.1em;
}

li {
    padding-left: 1em;
    text-indent: -1em;
    cursor: pointer;
    padding-bottom: 0.3em;
}

li[data-type='dir']:before, li[data-type='file']:before {
    content: "\e92f";
    padding-right: 5px;
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

li[data-type='file']:before {
    content: "\e924";
}

@media screen and (max-width: 800px) {
    #info, #file {
        float: none;
        width: 100%;
        min-height: 0;
        position: static;
    }
    #info, #file {
        height: auto;
        overflow-y: auto;
    }
}